.card {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    transition: 200ms linear;
}

.deleteContact {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 6px -6px #17a2b8;
}

.card:hover .deleteContact {
    filter: alpha(opacity=50);
    opacity: 1;
}

.btn {
    border-radius: 2rem;
}

.box-shadow
{
  position: relative;
}
.box-shadow:before, .box-shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.box-shadow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.votes {
    font-size: 10px;
    color: #a1aab9
}

.votecalc {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}